$orange: #FF6060;

.location-info {
    color:$orange;
    font-family: montserrat;
    padding-left: 65px;
    padding-right: 65px;
    

    h1{
        font-size: 36px;
        text-align: left;
        white-space:nowrap;
    }

    p {
        text-align: left;
        font-size: 18px;
        margin-top: 0px;
    }
    ul {
        list-style-type: none;
        margin: 0px;
        padding: 0px;
    }
}

.collapsible-container {
    display: flex;
    justify-content: flex-start;
    gap: 47px;

    ul {
        list-style-type: none;
    }
}

.collapse-button2{
    width: 55%;
    width: 673px;
    padding: 10px;
    background-color: $orange;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 20px;
    font-size: 24px;
    text-align: left;
    margin-top: 25px;
    display:flex;
    justify-content: space-between;

    svg {
        cursor: pointer;
        margin-top: 5px; 
      }
}

.toggle2 {
    width: 94%;
    border-radius: 10px;
    background-color: #F6F6F6;
    margin-left: 0px;
    text-align: left;
    margin: 0px;
    padding-left: 40px;
    font-size: 20px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;

    p {
        color:$orange;
        margin: 0px;
        padding:21px;
        font-size: 20px;
        padding-top: 20px ;
    }
}
.open {
    max-height: 1000px;
  }


.tags-container {
    display: flex;
    gap: 11px;

    button {
    border-radius: 10px;
    background-color: $orange;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 15px;
    padding-right: 15px;
    color: white;
    font-family: montserrat;
    border:none;
    }
}

    .host-container {
    display: flex;
    flex-direction: row;
    // justify-content: flex-end;
    gap:528px;
    flex-wrap: nowrap;
        
        img {
            border-radius: 57px;
            width: 46%;
    }
    }

.image-container img {
    width: 100%;
    height: 460px;
    border-radius: 15px;
    object-fit: cover;
}

.arrow-button-left {
    position: absolute;
    top: 300px;
    border: none;
    background: transparent;
    cursor: pointer;
}

.arrow-button-right {
    position: absolute;
    top: 300px;
    right: 65px;
    border: none;
    background: transparent;
    cursor: pointer;
}

.image-indicator {
    position:absolute;
    top: 550px;
    right: 747px;
    color: white;
}

.rotate-icon2 {
    transform: rotate(180deg);
    transition: transform 0.3s ease;
  }

  .host-div {
    margin-top: 11px;
    display: flex;

    p {
        max-width: 95px;
        margin-top: 14px;
    }
  }

  @media screen and (max-width: 600px) {

    .tags-container {
        padding-bottom: 50px;
    }

   .location-info {
    padding-top:0px;
   } 

   .arrow-button-left {
    top: 234px;

    svg {
        width: 20px;
    }

   }
   .arrow-button-right {
    top: 236px;
    right: 22px;

    svg {
        width: 20px;
    }
   }
.image-container img {
   height:  347px;
   ;
}

.location-info {

h1 {

        font-size: 18px;
        text-align: left;
        white-space:nowrap;
        font-weight: 500;
}

p {
    font-size: 18px;
}

}

.host-container img {

    width: 14%;
    position: absolute;
    top: 91px;
    right: 0;
    max-width: 100%;
}

.host-div p {
    max-width: 100%;
    // margin-top: 0px;
    max-width: 100%;
    position: absolute;
    top: 125px;
    right: 103px;
}

.collapse-button2{
    width: 100%;
    padding: 0px;
    border-radius: 10px;
    padding: 17px;
    margin-top: 39px;
}

.collapsible-container {
    display: flex;
    justify-content: flex-start;
    gap: 0px;
    flex-direction: column;
}

.toggle2 {

    width: 100%;
    border-radius: 10px;
    background-color: #F6F6F6;
    margin-left: 0px;
    padding-left: 0px;
    font-size: 13px;
}

.location-info {
    padding-left: 25px;
    padding-right: 25px;
}
  }

  @media screen and (min-width: 600px) and (max-width: 1024px) {

    .tags-container {
        padding-bottom: 50px;
    }

    .location-info {
        padding-top:0px;
       } 
    
       .arrow-button-left {
        top: 291px;
        svg {
            width: 40px;
        }
       }
       .arrow-button-right {
        top: 291px;
        right: 22px;
        svg {
            width: 40px;
        }
       }
    .image-container img {
       height: 460px;
    }
    
    .location-info {
    
    h1 {
    
            font-size: 18px;
            text-align: left;
            white-space:nowrap;
            font-weight: 500;
    }
    
    p {
        font-size: 18px;
    }
    
    }
    
    .host-container img {
        width: 10%;
        position: absolute;
        top: 685px;
        right: 23px;
        max-width: 100%;
    }

    .host-div p {
        max-width: 100%;
        max-width: 100%;
        position: absolute;
        top: 695px;
        right: 107px;
    }
    
    .collapse-button2{
        width: 100%;
        padding: 0px;
        border-radius: 10px;
        padding: 17px;
        margin-top: 39px;
    }
    
    .collapsible-container {
        display: flex;
        justify-content: flex-start;
        gap: 0px;
        flex-direction: column;
    }
    
    .toggle2 {
    
        width: 100%;
        border-radius: 10px;
        background-color: #F6F6F6;
        margin-left: 0px;
        padding-left: 0px;
        font-size: 13px;
    }
    
    .location-info {
        padding-left: 25px;
        padding-right: 25px;
    }
  }