$orange: #FF6060;

.error-message {
    color: $orange;

    h1 {
        font-size: 288px;
        margin: 0px;
    }

    a {
        margin-top: 55px;
        text-decoration: underline;
        color: $orange;
    }
}