$orange:#FF6060;

.Banner-about {
    position: relative;
    height: 225px;
    background-image: 
    linear-gradient(to bottom, #FFFFFF00, #00000080),
    url('./paysage.png');
    background-size: cover;
    background-position: center;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 65px;
    margin-right: 65px;
    margin-bottom: 35px;
}

.collapse-button {
    color: white;
    background-color: $orange;
    width: 80%;
    border: none;
    border-radius: 10px;
    padding: 20px;
    font-size: 24px;
    text-align: left;
    margin-top: 25px;

    svg {
        cursor: pointer;
        position: sticky;
        left: 1313px;
        margin-top: 5px; 
      }
}

.bla label {
    width: 55px;
}

.toggle {
    width: 80%;
    border-radius: 10px;
    background-color: #F6F6F6;
    margin-left: 10%;
    text-align: left;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;

    p {
        color: $orange;
        margin: 0px;
        padding: 21px;
        font-size: 20px;
    }
}


.rotate-icon {
    transform: rotate(180deg);
    transition: transform 0.3s ease;
  }

 
  .open {
    max-height: 1000px;
  }

//   RESPONSIVE
@media screen and (max-width: 600px) {
    .Banner-about {
    margin-left: 25px;
    margin-right: 25px;
    height: 125px;
    border-radius: 12px;
    margin-bottom: 20px;

    }

    .collapse-button {
        width: 90%;
    }

    .toggle {
        width: 90%;
        margin-left: 5%;
}
}

@media screen and (min-width: 600px) and (max-width: 1024px) {
    .Banner-about {
        margin-left: 25px;
        margin-right: 25px;
        height: 200px;
        border-radius: 20px;
        margin-bottom: 20px;
    
        }
}