.Banner-home {
    position: relative;
    height: 200px;
    background-image: url('./fond.png');
    background-size: cover;
    background-position: center;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.Banner-home h1 {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
    line-height: 68.45px;
}