.card {
  position: relative;
  width: calc(33.33% - 20px);
  margin: 0 10px 20px;
  border-radius: 15px;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
}

.card-image {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
  height: 324px;
}

.card-title {
  margin-top: 5px;
  font-size: 18px;
  position: absolute;
  top: 80%;
  left: 2%;
  color: white;
  font-family: Montserrat;
  // max-width: 60%;
  text-align: left;
}

.card-description {
  margin-top: 5px;
  font-size: 0.9rem;
  color: #777;
}

.home-page {
  background-color: #F6F6F6;
  border-radius: 25px;
  padding: 32px;
  margin-top: 40px;
  margin-left: 65px;
  margin-right: 65px;
}

// RESPONSIVE

@media screen and (max-width: 600px) {

  .home-page {
    background-color: white;
    border-radius: 0px;
    padding: 0px;
    margin-top: 30px;
    // margin-left: 14px;
    // margin-right: -20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-left: 25px;
    margin-right: 25px;
  }

  .card-image {
    // max-width: 445px;
    // width: 435px;
    width: 100%;
    border-radius: 12px;
    height: 255px;
    max-width: 100%;
  }

  .card-title {
    top: 77%;
    left: 5%;
    font-weight: 500;
    line-height: 25.67px;
    max-width: 300px;
    width: 280px;
    font-size: 14px;

  }

  .card {
    width: 100%;
    margin: 0px;
  }
}

@media screen and (min-width: 600px) and (max-width: 1024px) {

  .home-page { 
    background-color: white;
    padding: 0px;
    margin-left: 25px;
    margin-right: 25px;

}

.card-image {
  height: 247px;
}

.card-title {
  max-width: 96%;
  font-size: 13px;
  top: 76%;
}
}